# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
*.sqlite
*.db

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
